@using AdminPortalElixirHand.Services
@inject IUserAccountService UserAccountService
﻿
@inject AdminPortalElixirHand.Services.TokenProvider TokenProvider

<div class="bg-dark" id="sidebar-wrapper">
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AdminPortalElixirHand</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
         <AuthorizeView>
           <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/add-user">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Add New User
                        </NavLink>
                    </div>            
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/product-list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
        </div>
                
       <div class="nav-item px-3">
                        <form action="/Logout" method="post">
                    <button class="nav-link btn btn-link" type="submit">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Logout (@context.User.Identity.Name)
                    </button>
                    <input name="__RequestVerificationToken" type="hidden"
                           value="@TokenProvider.XsrfToken">
                </form>
            </div>

        </Authorized>
        
        <NotAuthorized>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login Cookie
            </NavLink>
        </div> 
        </NotAuthorized>
         
        </AuthorizeView>
           
   </nav>
       
</div>

</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
